<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aquaflow.mapper.InventoryMapper">
    <select id="getByWaterTypeId" resultType="Inventory">
        select * from inventory where water_type_id = #{waterTypeId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into inventory(water_type_id, quantity, update_time)
        values(#{waterTypeId}, #{quantity}, #{updateTime})
    </insert>

    <update id="update">
        update inventory
        set quantity = #{quantity}, update_time = #{updateTime}
        where water_type_id = #{waterTypeId}
    </update>

    <select id="list" resultType="com.example.aquaflow.entity.Inventory">
        select * from inventory
    </select>
</mapper>
