<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aquaflow.mapper.OrderMapper">

    <select id="list" resultType="Orders">
        select o.*, c.name as customerName, a.detail as addressDetail, a.tag as addressTag, w.name as waterTypeName
        from orders o
        left join customer c on o.customer_id = c.id
        left join address a on o.address_id = a.id
        left join water_type w on o.water_type_id = w.id
        <where>
            o.status = #{status}
            <if test="tag != null and tag != ''">
                and a.tag = #{tag}
            </if>
            <if test="createTimeStart != null and createTimeStart != ''">
                and o.create_time &gt;= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and o.create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        order by o.create_time asc
    </select>

</mapper>
